.index_header{
    line-height: 200px;
    top: 10%;
    width: 100%;
    text-align: center
}

.img_sla{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.full_width_container{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

body {
    width: 100%;
    height: 100%;
}