{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="progress blue">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                 <span class="progress-bar"></span>
            </span>
            <div class="progress-value">90%</div>
        </div>
    	<a href="{% url 'specific_info' %}"><h3 class="sla_header">View more details</h3></a>
    </div>
</div>

{% endblock %}
